/* Variables */
:root {
    --fs-car-text: clanp(1.5rem, 12vw + 1rem, 12rem);
}

.div_size {
    max-height: 600px;
    max-width: 750px;
}


/* NavBar style */
.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.nav_style {
    width: 100%;
}

/* NavBar brand mod */
.content {
    width: 100px;
    margin-left: 100px;
    position: relative;
}

.content a {
    position: absolute;
    color: #FFF;
    font-size: 3em;
    transform: translate(-50%, -50%);
}

.content a:nth-child(1) {
    z-index: 9999;
    color: transparent;
    -webkit-text-stroke: .03rem #03a9f4;
}

.content a:nth-child(2) {
    z-index: 6969;
    color: #03a9f4;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
0%,
100% {
    clip-path: polygon(
    0% 45%,
    16% 44%,
    33% 50%,
    54% 60%,
    70% 61%,
    84% 59%,
    100% 52%,
    100% 100%,
    0% 100%
    );
}
50% {
    clip-path: polygon(
    0% 60%,
    15% 65%,
    34% 66%,
    51% 62%,
    67% 50%,
    84% 45%,
    100% 46%,
    100% 100%,
    0% 100%
    );
}
}


/* Index page styles */
.animate-charcter {
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #7CFC00 0%,
    orangered 29%,
    #FF00FF 67%,
    #00FFFF 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 500% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 20s linear infinite;
  display: inline-block;
      font-size: 190px;
}
@keyframes textclip {
  to {
    background-position: 500% center;
  }
}
.carousel_mobile {
    display: none;
}
@media only screen and (max-width: 768px) {
    .carousel_mobile {
        display: block;
    }
}
.carousel_text_top {
    top: 0px;
}


/* Forum page styles */
.box__pad {
    padding: 8px;
}
.padding_name {
    margin-top: 8px;
    text-align: left;
    display: inline-block
}
.padding_datetime {
    margin-bottom: 22px;
    text-align: right;
}
.post {
    position: relative;
    text-align: left;
    padding: 14px;
    border: 4px solid;
}
.post__content {
    margin-top: 8px;
    margin-bottom: 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.comment-border {
    width: auto;
    height: auto;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, mediumturquoise 10%, greenyellow 25%, greenyellow 25%, deepskyblue 50%, darkturquoise 75%, limegreen 10%) 5;
}
.comment_input {
    border: 4px solid deepskyblue;
    padding: 5px;
    outline-color: lime;
    box-shadow: 0 0 10px greenyellow;
    min-width: 300px;
    text-align: center;
}
.circle_image {
    /* set this to 50% for circle */
    border-radius: 35%;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}


/* Settings page/all password fields */
.setting_form_pad {
    padding: 10px;
    margin-bottom: 50px;
}
.text_to_button {
    display: inline-block;
    background: #0275d8;
    border-radius: 4px;
    font-family: "arial-black";
    font-size: 18px;
    color: #FFF;
    padding: 8px 12px;
    cursor: pointer;
}
.img_text_style {
    backdrop-filter: blur(2px);
    color: black;
    font-weight: bold;
    opacity: .6;
}

/* Events page */
.img_text_style_events {
    backdrop-filter: blur(2px);
    color: black;
    font-weight: bold;
    width: 490px;
    text-align: center;
    margin: auto;
}
