{% extends "layout.html" %}

{% block title %}
    About Page
{% endblock %}

{% block main %}

    <div class="container-fluid div_size">
        <h2>
        Founders
        </h2>
        <div class="row">
            <div class="card col" style="width:300px">
                <img class="card-img-top" src="static/images/bio_pics/me.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Stephen Littman</h4>
                    <p class="card-text">Tech guy, Support and Visionary</p>
                    <a href="https://www.facebook.com/stephen.littman.9" class="btn btn-primary">See Facebook</a>
                </div>
            </div>
            <br>
            <div class="card col" style="width:300px">
                <img class="card-img-top" src="static/images/bio_pics/topher.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Chris (Topher) Nelson</h4>
                    <p class="card-text">Spokesperson</p>
                    <a href="https://www.facebook.com/topher.nelson.77" class="btn btn-primary">See Facebook</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card col" style="width:300px">
                <img class="card-img-top" src="#" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Brian Nelson</h4>
                    <p class="card-text">Spokesperson</p>
                    <a href="https://www.facebook.com/brian.nelson.5815" class="btn btn-primary">See Facebook</a>
                </div>
            </div>
            <div class="card col" style="width:300px">
                <img class="card-img-top" src="#" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Greg Nelson</h4>
                    <p class="card-text">Spokesperson</p>
                    <a href="" class="btn btn-primary">See Facebook</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card col" style="width:300px">
                <img class="card-img-top" src="#" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Chad Bradley</h4>
                    <p class="card-text">Spokesperson</p>
                    <a href="https://www.facebook.com/chad.r.bradley.71" class="btn btn-primary">See Facebook</a>
                </div>
            </div>
            <div class="card col" style="width:300px">
                <img class="card-img-top" src="#" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Amanda Bradley</h4>
                    <p class="card-text">Spokesperson</p>
                    <a href="https://www.facebook.com/amanda.branton.1" class="btn btn-primary">See Facebook</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card col" style="width:300px">
                <img class="card-img-top" src="#" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Matthew Taylor</h4>
                    <p class="card-text">Spokesperson</p>
                    <a href="https://www.facebook.com/matthew.taylor.16121471" class="btn btn-primary">See Facebook</a>
                </div>
            </div>
            <div class="card col" style="width:300px">
                <img class="card-img-top" src="#" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Sarah Taylor</h4>
                    <p class="card-text">Spokesperson</p>
                    <a href="https://www.facebook.com/sarahbethjohnson" class="btn btn-primary">See Facebook</a>
                </div>
            </div>
        </div>
        <br>
    </div>

{% endblock %}
