{% extends "layout.html" %}

{% block title %}
    Events
{% endblock %}

{% block main %}
    <h4>For Event Information please visit Our Facebook Group in the Events section.</h4>
    <a href="https://facebook.com/events/s/blessing-of-the-kayaks/1458576258212677/" class="btn btn-primary">Facebook Group Events</a>
    <img class="card-img-top" src="static/images/event_pics/mongo.jpg" alt="Card image">

    <br>
    <br>
    <h4>Join the Effort, become a Volunteer</h4>
    <h6>If you would like to help with Events, log in then fill out infomation below.</h6>
    <h6>(Log in Required)</h6>
    <form action="/settings" method="post">
        <div class="mb-3">
            <select name="symbol">
                <option disabled selected>Volunteer Opportunities</option>
                {% for choice in choices %}
                    <option value="{{ choice }}">{{ choice }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <div class="mb-3">
                <h6>Birthday</h6>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="birthday" name="birthday" type="date">
            </div>
            <br>
            <h6>Way or ways of getting ahold of you.</h6>
            <textarea id="contact" name="contact" placeholder="Contact Information" rows="4" style="text-align: center; width: 300px;"></textarea>
            <br>
            <h6>Verify its you.</h6>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" style="text-align: center;" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Volunteer</button>
        </div>
    </form>
    <h6>We will attempt to contact Volunteers before Event Planning Meetings</h6>
    <br>

{% endblock %}
