{% extends "layout.html" %}

{% block title %}
    Community Forum
{% endblock %}

{% block main %}

    <div>
        <div class="pagination">
            {% if page|int > 1 %}
                <a href="/forum/?page={{ page|int - 1 }}">&#8606;</a>
            {% endif %}

            {% if page|int - 1 > 0 %}
                {% for num in range(page|int - 2, page|int - 1) %}
                    <a href="/forum/?page={{ num + 1 }}">{{ num + 1 }}</a>
                {% endfor %}
            {% endif %}

            <a class="active" href="/forum/?page={{ page|int }}">{{ page }}</a>

            {% for num in range(1, pagination + 1) %}
                <a href="/forum/?page={{ page|int + num }}">{{ page|int + num }}</a>
            {% endfor %}
            {% if pagination > 0 %}
                <a href="/forum/?page={{ page|int + 1 }}">&#8608;</a>
            {% endif %}
        </div>
    </div>
    {% for comment in comments %}
        <div class="box__pad">
            <div class="padding_name">
                <div class="post comment-border">
                    {% if comment.picture %}
                        <img class="circle_image" src="{{ url_for('static', filename=(comment.picture)) }}" alt="pic" width="25" height="25" onerror="this.src='/static/images/notfound.png';">
                    {% endif %}
                    <h7>@{{ comment.username }}</h7>
                    <div class="post_content">
                        <br>
                        <h7>{{ comment.comment }}</h7>
                        <br>
                    </div>
                    <div class="padding_datetime">
                        <h7>{{ comment.time }} {{ comment.date }}</h7>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <br>
    <div>
        <div class="pagination">
            {% if page|int > 1 %}
                <a href="/forum/?page={{ page|int - 1 }}">&#8606;</a>
            {% endif %}

            {% if page|int - 1 > 0 %}
                {% for num in range(page|int - 2, page|int - 1) %}
                    <a href="/forum/?page={{ num + 1 }}">{{ num + 1 }}</a>
                {% endfor %}
            {% endif %}

            <a class="active" href="/forum/?page={{ page|int }}">{{ page }}</a>

            {% for num in range(1, pagination + 1) %}
                <a href="/forum/?page={{ page|int + num }}">{{ page|int + num }}</a>
            {% endfor %}
            {% if pagination > 0 %}
                <a href="/forum/?page={{ page|int + 1 }}">&#8608;</a>
            {% endif %}
        </div>
    </div>
    <br>
    <!-- Try placeholder="Username" in textarea -->
    <div class="container">
        <form action="/forum" method="post">
            <textarea class="comment_input" id="comment_post" name="comment_post" placeholder="Comment Here" required rows="4"></textarea>
            <br>
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>
{% endblock %}
