<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.13.0/css/all.min.css" rel="stylesheet">
        <script src="/static/scripts/passvisibility.js"></script>

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/images/sub.jpg" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>Subclub Kayaking {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-dark navbar navbar-expand-xxl navbar-dark">
            <div class="container-fluid">
                <div class="content">
                    <a href="/"><span>Subclub</span></a>
                    <a href="/"><span>Subclub</span></a>
                </div>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler ms-auto float-xs-right" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                            <li class="nav-item"><a class="nav-link" href="/mission">Our MIssion</a></li>
                            <li class="nav-item"><a class="nav-link" href="/launches">Launch Sites</a></li>
                            <li class="nav-item"><a class="nav-link" href="/forum">Club Chat</a></li>
                            <li class="nav-item"><a class="nav-link" href="/game">SubClub Cleanup Game</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About Page</a></li>
                            <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                            <li class="nav-item"><a class="nav-link" href="/mission">Our MIssion</a></li>
                            <li class="nav-item"><a class="nav-link" href="/launches">Launch Spots</a></li>
                            <li class="nav-item"><a class="nav-link" href="/game">SubClub Cleanup Game</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About Page</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">
            Disclaimer
        </footer>

    </body>

</html>
