{% extends "layout.html" %}

{% block title %}
    Our Mission
{% endblock %}

{% block main %}

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h5 class="img_text_style">
                    Our Mission in Subclub is to help the community by Fundraising/Donation Events
                </h5>
                <img src="static/images/mission_pics/fooddrive.jpg" alt="fooddrive" style="width:300px;height:400px;">
            </div>
            <div class="col" style="text-align: center;">
                <h5 class="img_text_style">
                    Keeping the waterways clean of waste
                </h5>
                <img src="static/images/mission_pics/blessing2winner.gif" alt="blessing2win" style="width:250px;height:400px;">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col" style="text-align: center;">
                <h5 class="img_text_style">
                    Clearing of obstructions that may cause harm to the native life in our water Ecosystems
                </h5>
                <img src="static/images/mission_pics/pulloutbike.jpg" alt="bike" style="width:250px;height:400px;">
            </div>
            <div class="col" style="text-align: center;">
                <h5 class="img_text_style">
                    While guiding the Next Generations to Inherit these principles
                </h5>
                <img src="static/images/mission_pics/teaching.jpg" alt="blessing2win" style="width:300px;height:400px;">
            </div>
        </div>
        <br>
    </div>
{% endblock %}
