{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Full Name" required type="text" maxlength="40">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username"  type="text" required minlength="8" maxlength="16">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required minlength="8" maxlength="32">
            show <input type="checkbox" id="checkpass" onclick="visibility('password')">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Re-type Password" type="password" required minlength="8" maxlength="32">
            show <input type="checkbox" id="checkconfirm" onclick="visibility('confirmation')">
        </div>
        <button class="btn btn-primary" type="submit">REGISTER</button>
    </form>
{% endblock %}
